{% load static %}
<div class="small-container single-product">
    <div class="row">
        <div class="col-2">
            <img src="{{product.images.url}}" width="100%" id="ProductImg">

           

        </div>
        <div class="col-2">
            <p>Home / T-Shirt</p>
            <h1>{{product.title}}</h1>
            <h4>${{product.price}}</h4>
            <form method="post" action="{% url 'add_to_cart' %}" enctype="multipart/form-data">
                {% csrf_token %}
             <input type="hidden" value="{{product.id}}" name="product_id">   
            <select>
                <option>Select Size</option>
                <option>XXL</option>
                <option>XL</option>
                <option>L</option>
                <option>M</option>
                <option>S</option>
            </select>
            <input type="number" name="quantity" value="1">
            <button type="submit" name="submit" class="btn">Add To Cart</button> 
            
        </form>

            <h3>Product Details <i class="fa fa-indent"></i></h3>
            <br>
            <p>{{product.description}}</p>
        </div>
    </div>
</div>
<div class="footer">
    <div class="container">
        <div class="row">
            <div class="footer-col-1">
                <h3>Download Our App</h3>
                <p>Download App for Android and ios mobile phone.</p>
                <div class="app-logo">
                    <img src="{% static 'images/play-store.png'%}">
                    <img src="{% static 'images/app-store.png'%}">
                </div>
            </div>
            <div class="footer-col-2">
                <img src="{% static 'images/logo-white.png'%}">
                <p>Our Purpose Is To Sustainably Make the Pleasure and Benefits of Sports Accessible to the Many.
                </p>
            </div>
            <div class="footer-col-3">
                <h3>Useful Links</h3>
                <ul>
                    <li>Coupons</li>
                    <li>Blog Post</li>
                    <li>Return Policy</li>
                    <li>Join Affiliate</li>
                </ul>
            </div>
            <div class="footer-col-4">
                <h3>Follow Us</h3>
                <ul>
                    <li>Facebook</li>
                    <li>Twitter</li>
                    <li>Instagram</li>
                    <li>Youtube</li>
                </ul>
            </div>
        </div>
        <hr>
        <p class="copyright">Copyright 2020 - Samwit Adhikary</p>
    </div>
</div>

<script>
    var MenuItems = document.getElementById("MenuItems");
    MenuItems.style.maxHeight = "0px";
    function menutoggle() {
        if (MenuItems.style.maxHeight == "0px") {
            MenuItems.style.maxHeight = "200px"
        }
        else {
            MenuItems.style.maxHeight = "0px"
        }
    }
</script>

<script>
    var ProductImg = document.getElementById("ProductImg");
    var SmallImg = document.getElementsByClassName("small-img");

    SmallImg[0].onclick = function () {
        ProductImg.src = SmallImg[0].src;
    }
    SmallImg[1].onclick = function () {
        ProductImg.src = SmallImg[1].src;
    }
    SmallImg[2].onclick = function () {
        ProductImg.src = SmallImg[2].src;
    }
    SmallImg[3].onclick = function () {
        ProductImg.src = SmallImg[3].src;
    }

</script>